{% extends "dashboard/base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/dropzone-5.7.0/min/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/dropzone-5.7.0/min/basic.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='dashboard/vendors/css/forms/spinner/jquery.bootstrap-touchspin.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/video-js/video-js.min.css') }}">
    <style>
        #input_container {
            margin: 0 auto;
            position: relative;
        }

        #input_video {
            width: 100%;
            display: none;
        }

        #input_canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: rgba(154, 169, 241, 0.23);
            display: none;
            cursor: crosshair;
        }

        #output_video {
            width: 100%;
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
    پخش
{% endblock %}

{% block content %}
    <section>
        <form id="form" action="{{ url_for('main.stream_store') }}">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card invoice-action-wrapper shadow-none border">
                        <div class="card-body">
                            <h2>استریم ورودی</h2>

                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-icon btn-primary m-0"
                                        data-toggle="modal" data-target="#channels_list_input">
                                    <i class="bx bx-bookmarks"></i>
                                </button>
                            </div>
                            <fieldset class="form-group">
                                <label for="input_rtmp_url">آدرس rtmp استریم</label>
                                <input type="text" class="form-control" name="input_rtmp_url" id="input_rtmp_url"
                                       placeholder="ex: rtmp:// ... " dir="ltr" value="{{ stream.input_rtmp }}">
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="input_hls_url">آدرس hls استریم</label>
                                <input type="text" class="form-control" name="input_hls_url" id="input_hls_url"
                                       placeholder="ex: https:// ... " dir="ltr" value="{{ stream.input_hls }}">
                            </fieldset>

                            <div id="input_container">
                                <video id="input_video" class="video-js vjs-default-skin vjs-16-9" preload="auto">
                                </video>
                                <canvas id="input_canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card invoice-action-wrapper shadow-none border">
                        <div class="card-body">
                            <h2>استریم خروجی</h2>

                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-icon btn-primary m-0"
                                        data-toggle="modal" data-target="#channels_list_output">
                                    <i class="bx bx-bookmarks"></i>
                                </button>
                            </div>

                            <fieldset class="form-group">
                                <label for="output_rtmp_url">آدرس rtmp استریم</label>
                                <input type="text" class="form-control" name="output_rtmp_url" id="output_rtmp_url"
                                       placeholder="ex: rtmp:// ... " dir="ltr" value="{{ stream.output_rtmp }}">
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="output_hls_url">آدرس hls استریم</label>
                                <input type="text" class="form-control" name="output_hls_url" id="output_hls_url"
                                       placeholder="ex: https:// ... " dir="ltr" value="{{ stream.output_hls }}">
                            </fieldset>

                            <video id="output_video" class="video-js vjs-default-skin vjs-16-9" preload="auto" controls>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card invoice-action-wrapper shadow-none border">
                        <div class="card-body">
                            <h2>مشخصات تبلیغ</h2>

                            <div id="dropzone" style="min-height: unset; padding: 2px 4px;"
                                 class="custom-dropzone needsclick border-gray-200 border-dashed dz-clickable .border-gray-200"
                                 data-action="{{ url_for('main.upload_file') }}">
                                <div class="dz-message">
                                    <div><i class="fas fa-plus"></i></div>
                                    <div>انتخاب کنید</div>
                                </div>
                            </div>

                            <input type="hidden" name="ad_path" id="ad_path" value="{{ stream.ad }}">

                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>گوشه بالا چپ</h3>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_tl_x" name="coordinate_tl_x"
                                               class="touchspin-vertical" data-bts-postfix="x"
                                               value="{{ coordinate['tl'][0] if coordinate['tl'] else 10 }}">
                                    </div>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_tl_y" name="coordinate_tl_y"
                                               class="touchspin-vertical" data-bts-postfix="y"
                                               value="{{ coordinate['tl'][1] if coordinate['tl'] else 10 }}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h3>گوشه بالا راست</h3>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_tr_x" name="coordinate_tr_x"
                                               class="touchspin-vertical" data-bts-postfix="x"
                                               value="{{ coordinate['tr'][0] if coordinate['tr'] else 40 }}">
                                    </div>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_tr_y" name="coordinate_tr_y"
                                               class="touchspin-vertical" data-bts-postfix="y"
                                               value="{{ coordinate['tr'][1] if coordinate['tr'] else 10 }}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h3>گوشه پایین چپ</h3>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_bl_x" name="coordinate_bl_x"
                                               class="touchspin-vertical" data-bts-postfix="x"
                                               value="{{ coordinate['bl'][0] if coordinate['bl'] else 20 }}">
                                    </div>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_bl_y" name="coordinate_bl_y"
                                               class="touchspin-vertical" data-bts-postfix="y"
                                               value="{{ coordinate['bl'][1] if coordinate['bl'] else 40 }}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h3>گوشه پایین راست</h3>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_br_x" name="coordinate_br_x"
                                               class="touchspin-vertical" data-bts-postfix="x"
                                               value="{{ coordinate['br'][0] if coordinate['br'] else 80 }}">
                                    </div>
                                    <div class="d-inline-block mb-1 mr-1">
                                        <input type="text" id="coordinate_br_y" name="coordinate_br_y"
                                               class="touchspin-vertical" data-bts-postfix="y"
                                               value="{{ coordinate['br'][1] if coordinate['br'] else 40 }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 text-center">

                <button type="submit" class="btn btn-primary btn-lg round mr-1 mb-1" id="submit_btn"
                        style="display: {{ 'none' if stream.id else 'block' }}">
                    شروع
                </button>
                <button type="button" class="btn btn-danger btn-lg round mr-1 mb-1" id="stop_btn"
                        style="display: {{ 'block' if stream.id else 'none' }}">
                    توقف
                </button>
            </div>
        </form>
    </section>

    <div class="modal fade text-left" id="channels_list_input" tabindex="-1" role="dialog"
         aria-labelledby="channels_list_label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="channels_list_label">انتخاب از میان کانال‌ها</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% for channel in channels %}
                        <div>
                            <a href="javascript:void(0)" class="set_input_channel"
                               data-rtmp="{{ channel['rtmp_url'] }}" data-hls="{{ channel['hls_url'] }}">
                                {{ channel['title'] }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="channels_list_output" tabindex="-1" role="dialog"
         aria-labelledby="channels_list_label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="channels_list_label">انتخاب از میان کانال‌ها</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% for channel in channels %}
                        <div>
                            <a href="javascript:void(0)" class="set_output_channel"
                               data-rtmp="{{ channel['rtmp_url'] }}" data-hls="{{ channel['hls_url'] }}">
                                {{ channel['title'] }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='vendor/dropzone-5.7.0/min/dropzone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/video-js/video-js.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/video-js/videojs-http-streaming.min.js') }}"></script>

    <script src="{{ url_for('static', filename='dashboard/js/pages/playout.js') }}"></script>

    <script>
        let default_image = '{{ stream.ad }}'
        let stopStreamUrl = '{{ url_for('main.stream_stop', stream_id=stream.id) }}'
    </script>
{% endblock %}
